<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-button
        routerLink="/"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="drawer.toggle()"
        >Panel/home</a
      >
      <a
        mat-list-item
        href="/about"
        [routerLinkActive]="'active-link'"
        (click)="drawer.toggle()"
        >Sobre <mat-icon>redo</mat-icon></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Material </span>
      <img src="assets\breakinBAdIco70px.jpg" alt="bb" width="50" />
      <span class="spacer"></span>
      <div [class.hidden]="isHandset$ | async">
        <a
          mat-button
          routerLink="/"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{exact: true}"
          >Panel/home
        </a>

        <a
          mat-button
          routerLink="/about"
          [routerLinkActive]="'active-link'"
          >Sobre <mat-icon>redo</mat-icon></a
        >
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
